@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Style général */
body {
    font-family: "Roboto", sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
  }
  
  /* Style du container principal */
  .container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
  }
  
  /* Header */
  header {
    background-color: var(--primary-color);
    padding: 15px 0;
    text-align: center;
    color: white;
  }
  
  nav {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  